<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Blog Posts</title>
</head>
<body>
    <h1>Blog Posts</h1>
    <div class="blog-posts">
        {% for post in posts %}
            <div class="post">
                <h2>{{ post.title }}</h2>
                <p><em>by {{ post.author }}</em></p>
                <div>{{ post.content }}</div>
            </div>
        {% endfor %}
    </div>
</body>
</html>